<!doctype>
<html>
<head>
  <meta>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery-1.9.1.js"></script>
  <script src="javascripts/myscripts.js"></script>
</head>

<body>

  <div class="container">

    <form>
      <fieldset>
        <legend>Legend</legend>
        <select id="notesUp">
        </select>
        <!-- where text will output -->
        <textarea id="txt-subject">Subject</textarea><br>
        <textarea id="txt-content">Content</textarea><br>
        <button id="submit_btn" type="submit" class="btn">Submit</button>
        <button id="update_btn" type="POST" class="btn">Update</button>
        <button id="create_btn" type="submit" class="btn">Create</button>


      </fieldset>
    </form>

  </div>

</body>
</html>

